name: Tests

on:
  workflow_call:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]

jobs:
  test-with-python:
    name: Test with Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.12, 3.13]

    steps:
      - name: Setup | Checkout Repository
        uses: actions/checkout@v6

      - name: Setup | Install Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Setup | Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .

      - name: Action | Run gltest cli tests
        run: |
          gltest tests/gltest_cli/

      - name: Action | Run gltest tests
        run: |
          gltest tests/gltest/
